{% extends 'administrador/base.html' %}
{% block content %}
    <main class="container">
    <h2>Gestión de Obras</h2>
    <a href="{% url 'administrador:crear_obra' %}" class="btn btn-primary mb-3">Registrar nueva obra</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Comuna</th>
            <th>Ciudad</th>
            <th>Región</th>
            <th>Inicio</th>
            <th>Término</th>
        </tr>
        </thead>
        <tbody>
        {% for obra in obras %}
            <tr>
            <td>{{ obra.nombre }}</td>
            <td>{{ obra.comuna.nombre }}</td>
            <td>{{ obra.comuna.ciudad.nombre }}</td>
            <td>{{ obra.comuna.ciudad.region.nombre }}</td>
            <td>{{ obra.fecha_inicio|default:"-" }}</td>
            <td>{{ obra.fecha_termino|default:"-" }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="6" class="text-center">No hay obras registradas.</td></tr>
        {% endfor %}
        </tbody>
    </table>
    </main>
{% endblock %}