{% extends "ofertas_laborales/base.html" %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Publicar Nueva Oferta Laboral</h2>
        <div class="card shadow p-4">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Crear Oferta</button>
            </form>
        </div>
        <br>
        <div class="text-center">
            <a href="{% url 'ofertas_laborales:vista_reclutador' %}" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left"></i> Cancelar
            </a>
        </div>
    </div>
{% endblock %}
