{% extends "ofertas_laborales/base.html" %}

{% block content %}    
        <div class="container mt-4">
            <h2 class="mb-4 text-center">Ofertas Laborales Disponibles</h2>
            {% if ofertas %}
                {% for oferta in ofertas %}
                <div class="card-oferta mb-3 p-4 bg-white rounded-4">
                    <div class="row g-0">
                        <!-- Columna izquierda -->
                        <div class="col-md-9">
                            <p class="text-muted small mb-1">Publicado el día {{ oferta.fecha_publicacion|date:"d/m/Y" }}</p>
                            <h4 class="fw-bold mb-1">{{ oferta.titulo }}</h4>
                            <p class="mb-2">{{ oferta.obra }}</p>
                            <p class="text-secondary mb-3">{{ oferta.descripcion|truncatechars:220 }}</p>
                            <a href="{% url 'ofertas_laborales:detalle_oferta' oferta.id %}" 
                            class="btn btn-outline-success btn-sm rounded-pill px-3">
                            Más información
                            </a>
                        </div>

                        <!-- Columna derecha -->
                        <div class="col-md-3 d-flex flex-column justify-content-center align-items-center border-start">
                            <p class="fw-semibold mb-0 text-center"><i class="bi bi-geo-alt m-2"></i>{{ oferta.ubicacion }}</p>
                            <br>
                            {% if oferta.estado == "abierta" %}
                                <span class="badge bg-light text-success border border-success rounded-pill">{{ oferta.estado|capfirst }}</span>
                            {% else %}
                                <span class="badge bg-light text-danger border border-danger rounded-pill">Cerrada</span>  
                            {% endif %}      
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning text-center">
                Aún no has publicado ninguna oferta laboral.
                </div>
            {% endif %}
        </div>
{% endblock %}
