{% extends "ofertas_laborales/base.html" %}

{% block content %}    
        <div class="container mt-4">
            <div class="row">
                <!-- FILTROS -->
                <aside class="col-lg-3 col-md-4 mb-4 ">
                <!-- FILTROS RESPONSIVE -->
                <button class="btn btn-success w-100 d-lg-none mb-3"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#filtrosCollapse"
                    aria-expanded="false"
                    aria-controls="filtrosCollapse">
                    <i class="bi bi-funnel"></i> Mostrar / Ocultar Filtros
                </button>

                <div class="collapse d-lg-block" id="filtrosCollapse">
                    <div class="card filtros-card p-3">
                    <h5 class="mb-3 text-center fw-bold text-success">
                        <i class="bi bi-funnel"></i> Filtros
                    </h5>

                    <form method="get">
                        <div class="mb-3">
                            <label for="keyword" class="form-label fw-semibold">Búsqueda por palabra clave</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="keyword" 
                                name="keyword" 
                                placeholder="Ej: Ingeniero, Operario, Técnico..." 
                                value="{{ request.GET.keyword }}">
                        </div>

                        <div class="mb-3">
                            <label for="obra" class="form-label fw-semibold">Obra</label>
                            <select class="form-select" id="obra" name="obra">
                                <option value="">Todas</option>
                                {% for o in obras %}
                                    <option value="{{ o.nombre }}" 
                                            {% if request.GET.obra == o.nombre %}selected{% endif %}>
                                        {{ o.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="ubicacion" class="form-label fw-semibold">Ubicación</label>
                            <select class="form-select" id="ubicacion" name="ubicacion">
                                <option value="">Todas</option>
                                {% for comuna in comunas %}
                                    <option value="{{ comuna.nombre }}"
                                        {% if request.GET.ubicacion == comuna.nombre %}selected{% endif %}>
                                        {{ comuna.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="experiencia" class="form-label fw-semibold">Experiencia deseada (años)</label>
                            <input type="number" class="form-control" id="experiencia" name="experiencia"
                                placeholder="Ej: 2" value="{{ request.GET.experiencia }}">
                        </div>

                        <div class="mb-3">
                            <label for="area" class="form-label fw-semibold">Área</label>
                            <select class="form-select" id="area" name="area">
                                <option value="">Todas</option>
                                {% for area in areas %}
                                    <option value="{{ area }}" {% if request.GET.area == area %}selected{% endif %}>
                                        {{ area|capfirst }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="d-flex flex-column gap-2 mt-3">
                            <button type="submit" class="btn btn-success w-100">
                                <i class="bi bi-filter"></i> Aplicar Filtros
                            </button>
                            <a href="{% url 'ofertas_laborales:vista_candidato' %}" class="btn btn-outline-secondary w-100">
                                <i class="bi bi-arrow-counterclockwise"></i> Limpiar Filtros
                            </a>
                        </div>
                    </form>
                    </div>
                </div>
                </aside>
                <!-- OFERTAS -->
                <div class="col-12 col-lg-9">
                    <div class="row">
                        {% for oferta in page_obj|dictsortreversed:"fecha_publicacion" %}
                        <div class="col-12 mb-4">
                            <div class="card-oferta p-4 shadow-sm rounded-4 border-0 bg-white">
                                <div class="d-flex flex-column flex-md-row align-items-md-center">
                                    
                                    <!-- SECCION IZQUIERDA -->
                                    <div class="col-12 col-md-9">
                                        <p class="text-muted small mb-1">
                                            <i class="bi bi-calendar-event me-1"></i> Publicado el {{ oferta.fecha_publicacion|date:"d/m/Y" }}
                                        </p>
                                        <h4 class="fw-bold mb-1 text-dark">{{ oferta.titulo }}</h4>
                                        <p class="mb-2 text-secondary">{{ oferta.obra }}</p>
                                        <p class="text-secondary mb-3">{{ oferta.descripcion|truncatechars:220 }}</p>

                                        <a href="{% url 'ofertas_laborales:detalle_oferta' oferta.id %}" 
                                        class="btn btn-outline-success btn-sm rounded-pill px-3">
                                            Más información
                                        </a>
                                    </div>

                                    <!-- SECCION DERECHA -->
                                    <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center pt-2 mt-3 mt-md-0 border-start border-md-start ps-md-3 border-1 border-md-start">
                                        <p class="fw-semibold mb-2 text-center">
                                            <i class="bi bi-geo-alt me-2"></i>{{ oferta.obra.direccion }}, {{ oferta.obra.comuna }}.
                                        </p>
                                        {% if oferta.estado == "abierta" %}
                                            <span class="badge bg-light text-success border border-success rounded-pill">
                                                {{ oferta.estado|capfirst }}
                                            </span>
                                        {% else %}
                                            <span class="badge bg-light text-danger border border-danger rounded-pill">
                                                Cerrada
                                            </span>  
                                        {% endif %}      
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-12">
                            <div class="alert alert-warning text-center shadow-sm rounded-4">
                                <i class="bi bi-exclamation-triangle me-2"></i> No hay ofertas laborales disponibles.
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div> 
            </div>
            {% if page_obj.has_other_pages %}
            <nav aria-label="Paginación" class="mt-5">
                <ul class="pagination justify-content-center">

                    <!-- Botón anterior -->
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link hireup-page" href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}">
                        &laquo; Anterior
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link hireup-disabled">&laquo; Anterior</span>
                    </li>
                    {% endif %}

                    <!-- Números de página -->
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active">
                        <span class="page-link hireup-active">{{ num }}</span>
                        </li>
                    {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                        <li class="page-item">
                        <a class="page-link hireup-page" href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ num }}">
                            {{ num }}
                        </a>
                        </li>
                    {% endif %}
                    {% endfor %}

                    <!-- Botón siguiente -->
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link hireup-page" href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}">
                        Siguiente &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link hireup-disabled">Siguiente &raquo;</span>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
{% endblock %}
