{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
  <div class="container-fluid px-4">
    <!-- LOGO -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="{% static 'images/Logo.png' %}" alt="Logo" class="logo-img me-2">
      <span class="fs-3 text-dark d-none d-md-inline">Ascensores Maximiliano Baeza E.I.R.L</span>
    </a>

    <!-- MENU HAMBURGUESA -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
      aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENÚ -->
    <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
      <ul class="navbar-nav mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item">
          <a href="{% url 'main:registro_candidato' %}" class="btn btn-outline-success" id="btnAcceder">REGISTRARTE AL PORTAL</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'main:login' %}" class="btn btn-outline-success ms-lg-3 mt-2 mt-lg-0" id="btnRegistro">ACCEDER AL PORTAL</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- CARD PRINCIPAL -->
<div class="card text-dark">
  <img src="{% static 'images/Background-Card.png' %}" class="card-img img-limit" alt="Imagen-Home">
  <div class="card-img-overlay d-flex flex-column justify-content-center align-items-start ps-5">
    <h5 class="card-title fs-2">¿Quiénes Somos?</h5>
    <p class="card-text align-items-start fs-5">En Ascensores Maximiliano Baeza E.I.R.L. somos una empresa en constante
        crecimiento dedicada a la <br> instalación y mantención de ascensores, trabajando como socio estratégico de grandes compañías del <br> rubro. 
        Nos especializamos en brindar un servicio seguro, eficiente y de calidad, respaldado por un <br> equipo técnico comprometido y capacitado.
        Nuestro objetivo es consolidarnos como un referente  <br> confiable en el mercado, contribuyendo al éxito de cada proyecto y generando oportunidades para <br>
        profesionales que deseen formar parte de nuestro desarrollo.</p>

  </div>
</div>
<!-- CARDS SECUNDARIAS -->
<div class="container py-4">
  <div class="row g-4">
    <div class="col-12 col-md-4">
      <div class="card h-100">
        <img src="{% static 'images/carrusel-1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-2">¿Con quien trabajamos?</h5>  
          <p class="card-text pt-3">trabajamos en estrecha colaboración con empresas líderes del
                            rubro de la elevación y la construcción, consolidando alianzas estratégicas que respaldan la calidad y
                            eficiencia de nuestros servicios.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card h-100">
        <img src="{% static 'images/carrusel-2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-2">¿Quieres trabajar con nosotros?</h5>
          <p class="card-text">Ingresa al portal de reclutamiento HireUp y postula a un puesto de trabajo 
            con Ascensores Maximiliano Baeza E.I.R.L</p>
          <a href="{% url 'main:registro_candidato' %}" class="btn btn-outline-success w-100" id="btnAcceder"><i class="bi bi-person m-2"></i>Crea tu Perfil</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card h-100">
        <img src="{% static 'images/carrusel-3.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-2">¿Que servicios brindamos?</h5>
          <p class="card-text">Nos especializamos en la instalación y mantenimiento de ascensores para edificios residenciales, comerciales e industriales. 
            Brindamos soluciones personalizadas, atención rápida y un servicio de calidad que asegura el confort y la seguridad de todos los usuarios.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<footer class="bg-white text-center text-success py-4 mt-5">
  <div class="container">
    <p class="mb-1 fw-semibold">Ascensores Maximiliano Baeza E.I.R.L</p>
    <p class="mb-1 small">Instalación y mantención profesional de ascensores</p>
    <p class="mb-0 small text-muted">
      © 2025 Ascensores Maximiliano Baeza — Todos los derechos reservados
    </p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}