{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="container-login d-flex align-items-center justify-content-center min-vh-100">
  <div class="login-card shadow-lg p-5 rounded-4 bg-white" style="max-width: 500px; width: 100%;">    
    <div class="text-center mb-4">
        <h2 class="fw-bold text-dark">Iniciar Sesion</h2>
        <div class="border-bottom border-3 border-success mx-auto" style="width: 80px;"></div>
    </div>

    <!-- Mensajes de Django -->
    {% if messages %}
      {% for m in messages %}
        <div class="alert alert-{{ m.tags }} rounded-3">
          {{ m }}
        </div>
      {% endfor %}
    {% endif %}

    <!-- Formulario de login -->
    <form method="POST" class="needs-validation">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_username" class="form-label fw-semibold">Correo Electronico</label>
        <input type="text" id="id_username" name="username" 
               class="form-control form-control-lg rounded-3" 
               placeholder="Ingrese su nombre de correo" required>
      </div>

      <div class="mb-3">
        <label for="id_password" class="form-label fw-semibold">Contraseña</label>
        <input type="password" id="id_password" name="password" 
               class="form-control form-control-lg rounded-3" 
               placeholder="Ingrese su contraseña" required>
      </div>

      <button type="submit" class="btn btn-success w-100 fw-semibold shadow-sm">
        <i class="bi bi-box-arrow-in-right me-1"></i> Ingresar
      </button>
    </form>
    <div class="text-center mt-4">
      <p class="mb-2">¿No tienes cuenta?
        <a href="{% url 'main:registro_candidato' %}" class="text-success fw-semibold text-decoration-none">Crea tu cuenta</a>
      </p>
      <a href="{% url 'home' %}" class="btn btn-outline-primary w-100 py-2 rounded-3">
        <i class="bi bi-house-door me-2"></i> Volver al inicio
      </a>
    </div>
  </div>
</main>
{% endblock %}  

